.statsTitle {
    width: 77.70px;
    height: 11.95px;
    left: 117.74px;
    top: 465px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #FEF21B;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.ratingsTitle {
    width: 77.70px;
    height: 11.95px;
    left: 244.12px;
    top: 465px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #FEF21B;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.statBox1 {
    width: 46.96px;
    height: 58.92px;
    left: 87px;
    top: 478.66px;
    position: absolute;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.50);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.statBox2 {
    width: 70.87px;
    height: 58.92px;
    left: 186.44px;
    top: 478.94px;
    position: absolute;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.50);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.statBox3 {
    width: 46.96px;
    height: 58.92px;
    left: 303.04px;
    top: 478.66px;
    position: absolute;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.toggleContainer {
    width: 25.62px;
    height: 13.66px;
    left: 210.81px;
    top: 465px;
    position: absolute;
    background: #3B3B3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    border-radius: 30px;
}

.toggleCircle {
    width: 8.54px;
    height: 9.39px;
    left: 213.38px;
    top: 466.71px;
    position: absolute;
    background: #FEF21B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    border-radius: 30px;
}

.divider1 {
    width: 37.57px;
    height: 0;
    left: 157.87px;
    top: 491.47px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: top left;
    outline: 2px white solid;
    outline-offset: -1px;
}

.divider2 {
    width: 37.57px;
    height: 0;
    left: 285.96px;
    top: 491.47px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: top left;
    outline: 2px white solid;
    outline-offset: -1px;
}