.playerImage {
    width: 226px;
    height: 256px;
    left: 105px;
    top: 104px;
    position: absolute;
}

.infoBox {
    width: 336px;
    height: 47px;
    left: 50px;
    top: 295px;
    position: absolute;
    background: linear-gradient(180deg, rgba(141, 141, 141, 0.70) 0%, rgba(134, 134, 134, 0.70) 100%);
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.divider {
    width: 40.43px;
    height: 0;
    left: 188px;
    top: 298px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: top left;
    outline: 2px #C2C2C2 solid;
    outline-offset: -1px;
}

.location {
    width: 43px;
    height: 12px;
    left: 95px;
    top: 323px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 10px;
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.locationIcon {
    width: 15px;
    height: 15px;
    left: 80px;
    top: 321px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nameContainer {
    width: 103px;
    height: 19px;
    left: 57px;
    top: 302px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.name {
    color: white;
    font-size: 14px;
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.age {
    color: white;
    font-size: 16px;
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* Статистика користувача */
.stat1_value {
    width: 17px;
    height: 33px;
    left: 245px;
    top: 303px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
}

.stat1_icon {
    width: 23.91px;
    height: 26.38px;
    left: 215px;
    top: 300px;
    position: absolute;
}

.stat2_value {
    width: 15px;
    height: 33px;
    left: 300px;
    top: 304px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
}

.stat2_icon {
    width: 23.16px;
    height: 23.68px;
    left: 271px;
    top: 305.53px;
    position: absolute;
}

.stat3_value {
    width: 41px;
    height: 33px;
    left: 344.69px;
    top: 304px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
}

.stat3_icon {
    width: 23.09px;
    height: 23.91px;
    left: 318px;
    top: 306px;
    position: absolute;
}