.bannerBg {
    width: 329px;
    height: 65px;
    left: 57px;
    top: 90px;
    position: absolute;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.title {
    width: 197.17px;
    height: 22.13px;
    left: 107px;
    top: 97px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.50);
}

.description {
    width: 225.34px;
    height: 22.13px;
    left: 113.04px;
    top: 124.16px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.icon {
    width: 62.37px;
    height: 88.53px;
    left: 26px;
    top: 71px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}