/* В вашем главном CSS файле, например, index.css */
@import 'intro.js/introjs.css';
* { box-sizing: border-box; }
img { display: block; }
body {
    font-family: 'Inter', sans-serif;
    background-color: #1a1a2e; /* Темный фон для лучшего контраста */
}