/* В вашем главном CSS файле, например, index.css */
@import 'intro.js/introjs.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* { box-sizing: border-box; }
img { display: block; }
body {
    font-family: 'Inter', sans-serif;
    background-color: #1a1a2e; /* Темный фон для лучшего контраста */
    overflow: hidden;
}
html {
    /* Це змушує браузер зарезервувати місце під скролбар, щоб контент не стрибав */
    scrollbar-gutter: stable;
}